{% extends 'matind.html' %}

{% block content %}

    <main>
    
    <h2>Odd and Even :</h2>
    <p>
        Odd numbers are those numbers that cannot be divided into two equal parts, whereas even numbers are those numbers that can be divided into two equal parts. Examples of odd numbers are 3, 5, 7, 9, 11, 13, 15,… Examples of even numbers are 2, 4, 6, 8, 10, 12, 14,…
In this course we learn about choosing of odd and even numbers.

    </p>
    
    <video width="80" height="140" controls>
        <source src="https://github.com/manokaran007/Coursevideos/raw/main/Maths/Even and Odd Number _ Quiz Time _ Mathematics Quiz for Kids _ _AAtoonsKids(720P_HD).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </main>



{% endblock %}
