{% extends 'matind.html' %}

{% block content %}
<body>

    <main>
        <h2>Ascending and Descending order:
        </h2>
        <p>
            When the numbers are written in increasing order, smallest to largest value, then it is said to be ascending, for example, 3 < 5 < 7 < 9 < 11 < 13 When the numbers are written in decreasing order, i.e. largest to smallest value, then it is said to be descending order.
            <br>In this video we can learn about ascending and descending order by using some examples.
        </p>
    <video width="80" height="140" controls>
        <source src="https://github.com/manokaran007/Coursevideos/raw/main/Maths/Ascending and Descending order _ Math for Kids _ Quiz time _ Math Quiz for kids _(720P_HD).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</main>
</body>


{% endblock %}