{% extends 'matind.html' %}

{% block content %}
<body>
    <main>

    <h2>Calculation of 100 :</h2>
        <p>
            In mathematics, a percentage is a number or ratio that can be expressed as a fraction of 100. If we have to calculate percent of a number, divide the number by the whole and multiply by 100. Hence, the percentage means, a part per hundred.<br> The word per cent means per 100. <br>It is represented by the symbol “%”. <br>
            In this video we can learn how to calculate 100 in easy manner by using addition,subraction,multiplicaion and division.
        </p>
    <video width="80" height="140" controls>
        <source src="https://github.com/manokaran007/Coursevideos/raw/main/Maths/Calculation of 100 _ Math Quiz for Kids _ Math for Kids _ _AAtoonsKids(720P_HD).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </main>
    
</body>


{% endblock %}