{% extends 'matind.html' %}

{% block content %}
<body>
    <main>

    <h2>Addition:</h2>
        <p>

            Addition is when you put together two or more numbers together to find the total amount. The result of adding two or more numbers is called the sum. So, you would add your 4 cookies and James' 4 cookies to find that the sum is 8 cookies. In math, this would be written as 4 + 4 = 8.
            In this video , we can learn how to add two numbers and solve the problems.
            </p>
    <video width="80" height="140" controls>
        <source src="https://github.com/manokaran007/Coursevideos/raw/main/Maths/Math shapes _ Shapes for kids _ Learn math shapes _ Learn Maths for kids _ _AAtoonsKids(720P_HD).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </main>

</body>


{% endblock %}