{% extends 'matind.html' %}

{% block content %}
<body>
    <main>

    <h2>Shapes:</h2>
        <p>

            In geometry, shapes are the forms of objects which have boundary lines, angles and surfaces. There are different types of 2d shapes and 3d shapes. Shapes are also classified with respect to their regularity or uniformity. A regular shape is usually symmetrical such as a square, circle, etc.
            In this video we can learn how to find shapes and how to figure it by this animated video.
            </p>
    <video width="80" height="140" controls>
        <source src="https://github.com/manokaran007/Coursevideos/raw/main/Maths/Quiz Time _ Math Quiz for Kids _ Division Quiz for Kids _ Mental Math Quiz for Kids(720P_HD).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </main>

</body>


{% endblock %}